{% extends 'master/base.html' %}


{% block content %}

{% include 'master/message.html' %}

<h1>Calorie List</h1>
<a href="{% url 'add_calorie' %}" class="btn btn-primary">Add calories</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Item</th>
            <th>consumed calories</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        
        {% for data in consumed_data  %}

        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.item_name}}</td>
            <td>{{data.calorie}}</td>
            <td><a href="{% url 'update_calorie' data.id %}">edit</a></td>
            <td><a href="{% url 'delete_calorie' data.id%}">delete</a></td>
        </tr>
            
        {% endfor %}
            
    </tbody>
</table>
    
{% endblock content %}
    